<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ApplicationVersion</key>
        <integer>0</integer>
        <key>ApplicationID</key>
        <string>20</string>
        <key>ApplicationName</key>
        <string>GalePress</string>
        <key>isTestApplication</key>
        <false/>
        <key>Extras</key>
        <array>
            <dict>
                <key>Web</key>
                <string>http://www.nef.com.tr</string>
            </dict>
            <dict>
                <key>Facebook</key>
                <string>http://www.facebook.com/Nefstyle?fref=ts</string>
            </dict>
            <dict>
                <key>Twitter</key>
                <string>https://twitter.com/nef_style</string>
            </dict>
            <dict>
                <key>E-Mail</key>
                <string>info@nef.com.tr</string>
            </dict>
        </array>
    </dict>
</plist>
